@font-face {
    font-family: 'vazir';
    src: url(woff2/Vazirmatn-Medium.woff2) format("woff2"),
         url(ttf/Vazirmatn-Medium.ttf)  format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: 'vazir';
    src: url(woff2/Vazirmatn-Light.woff2) format("woff2"),
         url(ttf/Vazirmatn-Light.ttf)  format("truetype");
    font-weight: 300
}    
@font-face {
    font-family: 'vazir';
    src: url(woff2/Vazirmatn-Thin.woff2) format("woff2"),
         url(ttf/Vazirmatn-Thin.ttf)  format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: 'vazir';
    src: url(woff2/Vazirmatn-Regular.woff2) format("woff2"),
         url(ttf/Vazirmatn-Regular.ttf)  format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'vazir';
    src: url(woff2/Vazirmatn-Bold.woff2) format("woff2"),
         url(ttf/Vazirmatn-Bold.ttf)  format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'vazir';
    src: url(woff2/Vazirmatn-Black.woff2) format("woff2"),
         url(ttf/Vazirmatn-Black.ttf)  format("truetype");
    font-weight: 900;
}
html{
    font-family: 'vazir';
    font-size: 100%;
}