{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <!-- content main part -->
    <section class="main-content">
        <section class="content-upper">
            <section class="upper-img">
                <img src="" alt="">
            </section>
            <section class="upper-desc">
                <section class="title">
                    <h1>شرکت حسابداری ایگس</h1>
                </section>
                <section class="desc">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی قرار گیرد.</p>
                </section>
                <section class="desc">
                    <p>از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد،</p>
                </section>
                <section class="desc">
                    <p>.و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز
            </section>
        </section>
    </section>
     <!-- company info part -->
        <section class="content-intro">
            <section class="intro">
                <section class="desc">
                    <article class="info">
                        <h2>معرفی شرکت ایکس</h2>
                        <p> لورم ورم ایپسوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  و شرایط سخت تایپ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  و شرایط سخت تایپ متن ساختگی با تولید سادگی نامفهوم  و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای لورم ورم ایپسوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  و شرایط سخت تایپ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  و شرایط سخت تایپ متن ساختگی با تولید سادگی نامفهوم  و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهیپ به پایان رسدبه پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای.</p>

                    </article>
                </section>
            </section>
            <section class="intro-logo">
                <section class="logo-img">
                    <img src="{% static 'images/accounting_.png' %}" alt="accounting image">
                </section>
            </section>
        </section>
        <!-- company info part end -->
        <!-- contact form -->
        <section class="contact">
            <section class="form-container">
                <h5>جهت ارتباط سریع تر فرم زیر را پر کنید</h5>
                <p>همکاران ما در اسرع وقت با شما تماس میگیرن</p>
                <form action="" method="post">
                    <div class="both">
                        <label for="name">نام و نام خانوادگی</label>
                    <input type="text" id="name" name="name" placeholder="نام و نام خانوادگی">

                    </div>
                    <div class="both">
                        <label for="phone">شماره موبایل</label>
                    <input type="text" pattern="[0-9]" id="phone" name="phone" placeholder="شماره موبایل">

                    </div>
                    <button type="submit"><span></span>ارسال</button>
                </form>
            </section>
        </section>
        <!-- contact form end -->
        <!-- textbox about articles -->
        <section class="main-articles-info">

            <section class="main-text">

                <section class="container">
                    <section class="title">
                        <h5>عنوان</h5>
                    </section>
                    <section class="desc">
                        <p>از صنعت چاپ،  را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان  ایجاد کر فارسی ایجاد کر</p>
                        <p>از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز  ایجاد کر فارسی ایجاد کر</p>
                        <p>از صنعت چاپ،  را می طلبد، تا با نرم افزارها شنیانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهن  ایجاد کر فارسی ایجاد کر</p>

                    </section>
                </section>

            </section>
            <section class="main-image">
                <img src="" alt="">
            </section>
        </section>
        <section class="main-articles-info row-rev">

            <section class="main-text">

                <section class="container">
                    <section class="title">
                        <h5>عنوان</h5>
                    </section>
                    <section class="desc">
                        <p>از صنعت چاپ،  را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان  ایجاد کر فارسی ایجاد کر</p>
                        <p>از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز  ایجاد کر فارسی ایجاد کر</p>
                        <p>از صنعت چاپ،  را می طلبد، تا با نرم افزارها شنیانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهن  ایجاد کر فارسی ایجاد کر</p>

                    </section>
                </section>

            </section>
            <section class="main-image">
                <img src="" alt="">
            </section>
        </section>
        <!-- textbox about articles end -->
        <section class="joblist-container">
            <section class="joblist-part">
                <setion class="title">
                    <h6>عنوان لیست کارها</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                      </svg>
                </setion>
                <ul class="desc">
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                </ul>
            </section>
            <section class="joblist-part">
                <setion class="title">
                    <h6>عنوان لیست کارها</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                      </svg>

                </setion>
                <ul class="desc">
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                </ul>
            </section>
        </section>
        <section class="joblist-container">
            <section class="joblist-part">
                <setion class="title">
                    <h6>عنوان لیست کارها</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                      </svg>
                </setion>
                <ul class="desc">
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                </ul>
            </section>
            <section class="joblist-part">
                <setion class="title">
                    <h6>عنوان لیست کارها</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                      </svg>

                </setion>
                <ul class="desc">
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                    <li>
                        <p>نه ای علی الخصوص طراحان خلاقی،  خلاقی، و فرهن  ایجاد کر و فرهن  ایجاد کر فارسی ایجاد کر</p>
                    </li>
                </ul>
            </section>
        </section>
        <!-- exel files part -->
        <!-- exel files part end -->

        <section class="product-container article-container">
            <section class="product-title">
                <img src="{% static 'icons/article.svg.png' %}" alt="articles logo">
                <h3 class="articles-title">مقالات اخیر <a href="">(بیشتر...)</a> </h3>
            </section>
            <section class="product-list slider">
                <section class="single-product single-article">
                    <section class="product-img article-img"><img src="" alt=""></section>
                    <section class="article-title">
                        <a href="">عنوان مقاله در این مکان قرار دارد  قرار دارد عنواله در ایند</a>
                    </section>
                    <section class="article-down">
                        <p class="date">1403/05/28</p>
                        <p class="category">category</p>

                    </section>
                </section>
                <section class="single-product single-article">
                    <section class="product-img article-img"><img src="" alt=""></section>
                    <section class="article-title">
                        <a href="">عنوان مقاله در این مکان قرار دارد  قرار دارد عنواله در ایند</a>
                    </section>
                    <section class="article-down">
                        <p class="date">1403/05/28</p>
                        <p class="category">category</p>
                    </section>
                </section>
                <section class="single-product single-article">
                    <section class="product-img article-img"><img src="" alt=""></section>
                    <section class="article-title">
                        <a href="">عنوان مقاله در این مکان قرار دارد  قرار دارد عنواله در ایند</a>
                    </section>
                    <section class="article-down">
                        <p class="date">1403/05/28</p>
                        <p class="category">category</p>
                    </section>
                </section>
                <section class="single-product single-article">
                    <section class="product-img article-img"><img src="" alt=""></section>
                    <section class="article-title">
                        <a href="">عنوان مقاله در این مکان قرار دارد  قرار دارد عنواله در ایند</a>
                    </section>
                    <section class="article-down">
                        <p class="date">1403/05/28</p>
                        <p class="category">category</p>
                    </section>
                </section>
                <section class="single-product single-article">
                    <section class="product-img article-img"><img src="" alt=""></section>
                    <section class="article-title">
                        <a href="">عنوان مقاله در این مکان قرار دارد  قرار دارد عنواله در ایند</a>
                    </section>
                    <section class="article-down">
                        <p class="date">1403/05/28</p>
                        <p class="category">category</p>
                    </section>
                </section>
                <section class="single-product single-article">
                    <section class="product-img article-img"><img src="" alt=""></section>
                    <section class="article-title">
                        <a href="">عنوان مقاله در این مکان قرار دارد  قرار دارد عنواله در ایند</a>
                    </section>
                    <section class="article-down">
                        <p class="date">1403/05/28</p>
                        <p class="category">category</p>
                    </section>
                </section>
            </section>
        </section>
        <section class="main-articles-info row-rev bg-shiri">

            <section class="main-text bg-white">

                <section class="container ">
                    <section class="title">
                        <h5>عنوان</h5>
                    </section>
                    <section class="desc">
                        <p>از صنعت چاپ،  را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان  ایجاد کر فارسی ایجاد کر</p>
                        <p>از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز  ایجاد کر فارسی ایجاد کر</p>
                        <p>از صنعت چاپ،  را می طلبد، تا با نرم افزارها شنیانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کر از صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کراز صنعت چاپ،  را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهن  ایجاد کر فارسی ایجاد کر</p>

                    </section>
                </section>

            </section>
            <section class="main-image">
                <img src="" alt="">
            </section>
        </section>
    </section>

{% endblock %}