{% extends "admin/base.html" %}
{% load static %}

{#{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}#}
{% block title %}پنل ادمین{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/override.css" %}" />
    <link rel="stylesheet" href="{% static 'fonts/vasir.css' %}">{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">مدیریت ایرانمهر رایکا</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
