{% load static %}

<section class="clients-company">
    <section class="title">
        <h5>مشتریان</h5>
    </section>
    <section class="desc">
        <p>شرکت هایی که یه ما اعتماد کرده اند</p>
    </section>
    <section class="clients-list">
        {% for customer in customers %}
            <section class="single-client"><img src="{{ customer.image.url }}" alt="{{ customer.title }} banner">
            </section>

        {% endfor %}

    </section>
</section>
<!-- customers part end -->
<!-- content main part end-->
<footer>
    <section class="down-upper">
        <section class="nav-down">

            <section class="content">
                <section class="title">
                    <h6>صفحات ایرانمهر رایکا</h6>
                </section>
                <ul>
                    <li><a href="{% url 'home:book' %}">کتاب قوانبن</a></li>
                    <li><a href="{% url 'article:list' %}">مقالات </a></li>
                    <li><a href="{% url 'home:about-us' %}">درباره ما</a></li>
                    <li><a href="{% url 'home:contact-us' %}">تماس با ما</a></li>
                    <li><a href="{% url 'product:filelist' %}">فایل های اکسل</a></li>
                </ul>
            </section>
            <section class="social">
                <section class="title">
                    <h6>شبکه های اجتماعی</h6>
                </section>
                <section class="social-list">
                    <a href="https://wa.me/09190323096"><i class="fa fa-whatsapp white"></i></a>
                    <a href="tg://user?id=123456789"><i class="fa fa-telegram white"></i></a>
                    <a href="instagram://user?username={username}"><i class="fa fa-instagram white"></i></a>
                </section>
            </section>
    </section>
    </section>
    <section class="contact-down">
        <section class="title">
            <h6>آدرس ما</h6>
        </section>
        <section class="content">
            <ul class="adress-contact">
                <li>
                    <i class="fa fa-building-o white"></i><span>شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی </span>
                </li>
                <li>
                    <i class="fa fa-phone white"></i><a href="tel:555-666-7777"><span>09123456789</span></a>
                </li>
                <li>
                    <i class="fa fa-phone white"></i><a href="tel:555-666-7777"><span>09123456789</span></a>
                </li>
            </ul>
        </section>
    </section>

    <section class="enamad">
        <a href="#">
            <img src="" alt="enamad logo">
        </a>
        <a class="creator" href="#">
            <strong>: تیم طراحان</strong>
            <p>محمدرضا آقاجانی</p>
        </a>
    </section>
</footer>