{% load static %}

<section class="clients-company">
    <section class="title">
        <h5>مشتریان</h5>
    </section>
    <section class="desc">
        <p>شرکت هایی که یه ما اعتماد کرده اند</p>
    </section>
    <section class="clients-list">
        <section class="single-client"><img src="" alt=""></section>
        <section class="single-client"><img src="" alt=""></section>
        <section class="single-client"><img src="" alt=""></section>
        <section class="single-client"><img src="" alt=""></section>
        <section class="single-client"><img src="" alt=""></section>
        <section class="single-client"><img src="" alt=""></section>
        <section class="single-client"><img src="" alt=""></section>
        <section class="single-client"><img src="" alt=""></section>
        <section class="single-client"><img src="" alt=""></section>
    </section>
</section>
<!-- customers part end -->
<!-- content main part end-->
<footer>
    <section class="down-upper">
        <section class="nav-down">

            <section class="content">
                <section class="title">
                    <h6>صفحات ایرانمهر رایکا</h6>
                </section>
                <ul>
                    <li><a href="">مقالات </a></li>
                    <li><a href="">درباره ما</a></li>
                    <li><a href="">تماس با ما</a></li>
                    <li><a href="">فایل های اکسل</a></li>
                </ul>
            </section>
            <section class="social">
                <section class="title">
                    <h6>شبکه های اجتماعی</h6>
                </section>
                <section class="social-list">
                    <a href=""><i class="fa fa-whatsapp"></i></a>
                    <a href=""><i class="fa fa-telegram"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class=""></i></a>
                </section>
            </section>
    </section>
    </section>
    <section class="contact-down">
        <section class="title">
            <h6>آدرس ما</h6>
        </section>
        <section class="content">
            <ul class="adress-contact">
                <li>
                    <i class="fa fa-building-o"></i><span>شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی </span>
                </li>
                <li>
                    <i class="fa fa-phone"></i><a href=""><span>09123456789</span></a>
                </li>
                <li>
                    <i class="fa fa-phone"></i><a href=""><span>09123456789</span></a>
                </li>
            </ul>
        </section>
    </section>

    <section class="enamad">
        <a href="">
            <img src="" alt="">
        </a>
        <a class="creator" href="">
            <strong>: تیم طراحان</strong>
            <p>محمدرضا آقاجانی</p>
        </a>
    </section>
</footer>