{% load static %}
<header>
    <section class="container">
        <section class="logo">
            <a href="/">
                <img src="{% static 'icons/سایز اصلی.png' %}" alt="logo">
            </a>
        </section>
        <section id="top-bar" class="top-bar">
            <nav>
                <ul class="navbar">
                    <li><a href="{% url 'home:book' %}" id="nav-item-home"
                           class="nav-item{% if request.resolver_match.url_name == 'book' %} active{% endif %}"><i
                            class="fa fa-book"></i>
                        <p>کتاب قوانین</p></a></li>
                    <li><a href="{% url 'article:list' %}"
                           class="nav-item{% if request.resolver_match.url_name == 'list' %} active{% endif %}"
                           id="category"><i
                            class="fa fa-newspaper-o"></i>
                        <p>مقالات</p> <span class="down" id="down"></span></a>

                        <ul class="parent" id="categorylist">
                            {% for category in categories %}
                                <li class="child"><a href="{% url 'article:category-list' category.title %}"
                                                     class="nav-item">{{ category.title }}</a></li>

                            {% endfor %}

                        </ul>

                    </li>
                    <li><a id="nav-item-list"
                           href="{% url 'product:filelist' %}" class="nav-item{% if request.resolver_match.url_name == 'filelist' %} active{% endif %}">
                        <i
                                class="fa fa-file-excel-o"></i>
                        <p>فایل های کاربردی</p></a>
                    </li>
                    <li><a href="{% url 'home:contact-us' %}"
                           class="nav-item{% if request.resolver_match.url_name == 'contact-us' %} active{% endif %} ">
                        <i class="fa fa-address-book"></i>
                        <p>تماس با ما</p></a></li>
                    <li><a href="{% url 'home:about-us' %}"
                           class="nav-item{% if request.resolver_match.url_name == 'about-us' %} active{% endif %} "><i
                            class="fa fa-info-circle"></i>
                        <p>درباره ما </p></a></li>
                </ul>
                <!-- <section class="auth">
                    <section class="part">
                        <i class="fa fa-user"></i>
                        <a href="" class="login">ورود</a>
                    </section>
                    <section class="part">
                        <i class="fa fa-sign-in"></i>
                        <a href="" class="register">ثبت نام</a>
                    </section> -->
                {#                        <section class="auth">#}
                {#                            <section class="part">#}
                {#                                <i class="fa fa-user white"></i>#}
                {#                                <a href="" class="login">پنل کاربر</a>#}
                {#                            </section>#}
                {#                            <section class="part">#}
                {#                                <i class="fa fa-sign-in"></i>#}
                {#                                <a href="" class="register">خروج</a>#}
                {#                            </section>#}
            </nav>
            <div class="exit"><i id="menu_close" class="fa fa-times"></i></div>
        </section>

            <div class="parent">
                <form action="{% url 'article:searchs' %}" method="get">
                <section id="search-bar" class="search-bar">
                    <input type="text" name="q" placeholder="جست و جو در بلاگ..." class="search" id="search">
                    <a id="search-bar-close"><i class="fa fa-times"></i></a>
                </section>
                    </form>
            </div>

        <section class="search-bar-icon">
            <i id="search-bar-open" class="fa fa-search"></i>
        </section>
        <section class="btn-part">
            <a id="menu" class="icon"><i class="fa fa-bars"></i></a>
        </section>

    </section>

</header>