{% load static %}
   <header>
        <section class="container">
            <section class="logo">
                <img src="" alt="">
            </section>
            <section id="top-bar" class="top-bar">
                <nav>
                    <ul class="navbar">
                        <li><a href="" class="nav-item active">شرکت ایکس</a></li>
                        <li><a class="nav-item" id="category">مقالات <span class="down" id="down"></span></a>

                            <ul class="parent" id="categorylist">
                                <li class="child"><a href="" class="nav-item">دسته بندی 1</a></li>
                                <li class="child"><a href="" class="nav-item">دسته بندی 1</a></li>
                                <li class="child "><a href="" class="nav-item">دسته بندی 1</a></li>
                                <li class="child"><a href="" class="nav-item">دسته بندی 1</a></li>
                            </ul>

                        </li>
                        <li><a href="" class="nav-item">فایل های اکسل</a></li>
                        <li><a href="" class="nav-item">تماس با ما</a></li>
                        <li><a href="" class="nav-item">درباره ما</a></li>
                    </ul>
                </nav>
                <div class="exit"><i id="menu_close" class="fa fa-times"></i></div>
            </section>
            <div class="parent">
                <section id="search-bar" class="search-bar">
                    <input type="text" name="q-search" placeholder="جست و جو..." class="search" id="search">
                    <a id="search-bar-close"><i class="fa fa-times"></i></a>
                </section>
            </div>
            <section class="search-bar-icon">
            <i id="search-bar-open" class="fa fa-search"></i>
            </section>
            <section class="btn-part">
                <a id="menu" class="icon"><i class="fa fa-bars"></i></a>
               </section>
        </section>

    </header>