{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:locale" content="fa_IR" />
    <link rel="stylesheet" href="{% static 'css/css_reset.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/vasir.css' %}">
    <link rel="website icon" type="png" href="{% static 'icons/سایز اصلی.png' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?{% now "U" %}">