{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>صفحه مورد نظر یافت نشد</title>
    <link rel="stylesheet" href="{% static 'css/css_reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>
<section class="page-404-container">
    <section class="body">
        <h1><span> صفحه مورد نظر یافت نشد</span>-<span>ارور 404</span></h1>
        <a href="/"><span class="home">صفحه اصلی</span> <span>بازگشت به</span></a>
    </section>
</section>
</body>
</html>